<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Novak.Northwind.DataLayer.Properties.Settings.DBNovakConnectionString"
            connectionString="Data Source=FooteSQLServer;Initial Catalog=DBNovak;Persist Security Info=True;User ID=CMLogin;Password=CMLogin"
            providerName="System.Data.SqlClient" />
        <add name="Novak.Northwind.DataLayer.Properties.Settings.DBNovakConnectionString1"
            connectionString="Data Source=vintagesylvania.net,10433;Initial Catalog=DBNovak;Persist Security Info=True;User ID=CMLogin;Password=CMLogin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>